i{
    color: white;
    font-size: 15px;
    border-radius: 25px;
    padding: 8px;
}

.fa-edit{
    background-color: dodgerblue;
}

.fa-trash-alt{
    background-color: crimson;
}

.fa-plus{
    background-color: green;
}